<tr>
    <td colspan="2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Product A</td>
            <td>2</td>
            <td>$50.00</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td>Product B</td>
            <td>1</td>
            <td>$75.00</td>
            <td>$75.00</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>